{% include "/layouts/dashboard/header.html" %}

<div class="fixed top-0 left-0 w-72 h-modal text-white bg-white bg-opacity-75 sidebar rounded-xl m-[15px] shadow-2xl p-5 flex flex-col justify-around items-center">
  <h2 class="text-[40px] text-green-700 text-center ">Smart Farming</h2>
  <ul class="flex flex-col items-center justify-center gap-5">
    <li>
      <button class="w-[230px] h-[65px] bg-[#A4A4A4] rounded-full hover:bg-[#C7A700] transition-all duration-200">
        <a href="#" class="text-sm font-thin">Último Registro</a>
      </button>
    </li>
    <li>
      <button class="w-[230px] h-[65px] bg-[#A4A4A4] rounded-full hover:bg-green-default transition-all duration-200">
        <a href="#" class="text-sm font-thin">Gráficos dos Sensores</a>
      </button>
    </li>
    <li>
      <button class="w-[230px] h-[65px] bg-[#A4A4A4] rounded-full hover:bg-green-default transition-all duration-200">
        <a href="#" class="text-sm font-thin">Gráficos do Formulario</a>
      </button>
    </li>
  </ul>
</div>

<main class="dashboard">
  <h1>ola</h1>
</main>