{% from "components/logo.html" import logo %}

{% set link_class =
"flex justify-content gap-2 items-center w-[270px] px-2 py-2 bg-[#F3F3F3] rounded-md text-[#404040] transition-all duration-200 text-md font-semibold"
%}

<div
  class="fixed top-0 left-2 w-80 z-40 h-modal text-white bg-white bg-opacity-75 backdrop-filter backdrop-blur-sm sidebar rounded-xl m-[15px] shadow-2xl p-5 pt-[50px] flex flex-col gap-[20%] ">
  <div class="container">
    {{ logo() }}
  </div>
  <ul class="flex flex-col items-center justify-center gap-5">
    <li>
      <a
        data-sidebar-link
        data-sidebar-slug="index"
        href="{{ url_for('sensors_records_views.last_sensors_record_page_view') }}"
        class="{{ link_class }} hover:bg-yellow-100">
        <i class="ph ph-cash-register"></i>
        Último Registro
      </a>
    </li>
    <li>
      <a
        data-sidebar-link
        data-sidebar-slug="sensors_records"
        href="{{ url_for('sensors_records_views.sensors_records_dashboard_page_view') }}"
        class="{{ link_class }} hover:bg-green-100">
        <i class="ph ph-cell-signal-high scale-[1.4]"></i>
        Sensores
      </a>
    </li>
    <li>
      <a
        data-sidebar-link
        data-sidebar-slug="checklist_records"
        href="{{ url_for('checklist_records_views.checklist_records_dashboard_page_view') }}"
        class="{{ link_class }} hover:bg-green-100">
        <i class="ph ph-table scale-[1.3]"></i>
        Checklist
      </a>
    </li>
    <li>
      <a
        data-sidebar-link
        data-sidebar-slug="plants"
        href="{{ url_for('plants_views.plants_page_view') }}"
        class="{{ link_class }} hover:bg-green-100">
        <i class="ph ph-plant"></i>
        Plantas
      </a>
    </li>
  </ul>
</div>


