{% from "components/logo.html" import logo %}

{% set link_class =
"flex justify-content gap-2 items-center w-[230px] px-2 py-2 bg-[#F3F3F3] rounded-md text-[#404040] transition-all duration-200 text-lg "
%}

<div
  class="fixed top-0 left-2 w-80 h-modal text-white bg-white bg-opacity-75 backdrop-filter backdrop-blur-sm sidebar rounded-xl m-[15px] shadow-2xl p-5 pt-[50px] flex flex-col gap-[20%]">
  <div class="container">
    {{ logo() }}
  </div>
  <ul class="flex flex-col items-center justify-center gap-5">
    <li>
      <a
        href="#"
        class="{{ link_class }} hover:bg-yellow-default">
        <i class="ph ph-cash-register"></i>
        Último Registro
      </a>
    </li>
    <li>
      <a
        href="#"
        class="{{ link_class }} hover:bg-green-default">
        <i class="ph ph-cell-signal-high scale-[1.4]"></i>
        Gráficos dos Sensores
      </a>
    </li>
    <li>
      <a href="#"
        class="{{ link_class }} hover:bg-green-default">
        <i class="ph ph-table scale-[1.3]"></i>
        Gráficos do Checklist
      </a>
    </li>
    <li>
      <a href="#"
        class="{{ link_class }} hover:bg-green-default">
        <i class="ph ph-plant"></i>
        Plantas
      </a>
    </li>
  </ul>
</div>