{% extends "layouts/root.html" %}

{% block body %}

<main class="overflow-x-hidden">
	<a
		href="/"
		class="absolute top-12 left-[10%] flex items-center gap-1 text-xl">
		<i class="ph ph-arrow-circle-left"></i>
		Voltar
	</a>

	<div
		class="bg-radial-gradient w-[50%] h-[80%] top-[20%] left-[25%] absolute z-[-1]">
	</div>

	<div
		class="flex justify-center mt-24 text-9xl font-black z-10 animate-jump-in animate-duration-700">
		<p class="text-[#e72d2d]">{{ status_code }}</p>
	</div>

	<div
		class="flex flex-col items-center justify-center gap-2 mt-6 text-2xl font-medium z-10 animate-jump-in animate-duration-700">
		<p class="text-center">Ops... {{ message }}</p>

		{% if internal_message %}
		<strong class="block text-center">{{ internal_message }}</strong>
		{% endif %}
	</div>

	<div class="flex justify-center m-12 z-10 animate-fade-up">
		<img
			src="{{ url_for('static', filename='images/withered.png') }}"
			alt="Planta murcha"
			class>
	</div>
</main>

{% endblock body %}