{% extends 'layouts/dashboard/index.html' %}
{% from 'components/title.html' import title %}

{% block dashboard_content %}
{{ title('Registro de Checklist') }}

<input type="text" data-leaf-appearances-chart="data"
  value="{{ leaf_appearences_chart_data }}" hidden />

<input type="text" data-leaf-colors-chart="data"
  value="{{ leaf_colors_chart_data }}" hidden />

<div class=" grid-cols-2 pt-5 pb-5 gap-9 w-full ">
  {% include '/pages/checklist_records_dashboard/leaf_appearances_chart.html' %}
</div>

{% for days in [7, 30, 90] %}
<div>
  <input
  type="text"
  data-filtered-data-chart="{{ days }} days"
  value="
  {{ 
    charts_filtered_data['{} days'.format(days)]['records']
    | map(attribute='date') 
    | join(';') 
  }}"
  hidden>

  {% for attribute in ["plant_growth"] %}
  <!--coloquei esse FOR aqui caso queiram botar mais grafico futuramente -->

  <input
    type="text"
    data-filtered-data-chart="{{ days }} days"
    name="{{ attribute }}_average"
    value="
    {{ 
      charts_filtered_data['{} days'.format(days)]['average'][attribute]
    }}"
    hidden>

  <input
    type="text"
    data-filtered-data-chart="{{ days }} days"
    name="{{ attribute }}"
    value="
    {{ 
      charts_filtered_data['{} days'.format(days)]['records']
      | map(attribute=attribute) 
      | join(';') 
    }}"
    hidden>

  {% endfor %}



</div>

{% endfor%}






{% include '/pages/checklist_records_dashboard/plant_growth_chart.html' %}

<script
  src="{{ url_for('static', filename='scripts/leaf_appearances_chart.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/leaf_colors_chart.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/plant_growth_chart.js') }}"></script>
{% endblock %}
