{% extends 'layouts/dashboard/index.html' %}
{% from 'components/title.html' import title %}
{% block dashboard_content %}
{%from 'components/see_registers_button.html' import see_registers_button%}

{{ title('Registro de Checklist') }}

{{
see_registers_button(
"Visualizar registros",
url_for("checklist_records_views.checklist_records_table_page_view")
)
}}

<div
  class="flex flex-wrap justify-center items-center md:grid grid-cols-2 pt-5 pb-5 gap-9 w-full">
  {% include '/pages/checklist_records_dashboard/leaf_appearances_chart.html' %}
  {% include '/pages/checklist_records_dashboard/leaf_colors_chart.html' %}
</div>

{% include '/pages/checklist_records_dashboard/plant_growth_chart.html' %}

<script
  src="{{ url_for('static', filename='scripts/leaf_appearances_chart.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/leaf_colors_chart.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/plant_growth_chart.js') }}"></script>
{% endblock %}
