
<div
  class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

  <div class="flex justify-between items-start w-full">
    <div class="flex-col items-center">
      <div class="flex items-center mt-1">
        <h2
          class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">
          Aspecto da Planta x Dias
        </h2>
      </div>
    </div>
  </div>

  <div
    id="pie-chart"
    data-leaf-appearances-chart="container"
    class="py-6">
  </div>

  <div
    class="grid items-center justify-between grid-cols-1 border-t border-gray-200 dark:border-gray-700">
    <div class="flex items-center justify-between pt-5">
      <div>
        <label
          for="days"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Planta</label>
        <select
          data-leaf-appearances-chart="select"
          class="select">
          {% for plant in plants %}
          <option value="{{ plant.id }}">{{ plant.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

</div>