{% from "components/logo.html" import logo %}
{% from "components/csv_input.html" import csv_input %}
{% from "components/label.html" import label %}
{% from "components/modal.html" import modal_controls %}

<div
  id="csv-form-error"
  class="relative w-1/2 mx-auto">
</div>

<div class="flex flex-col h-auto rounded-2xl">
  <div class="flex items-center justify-center gap-1 mt-3">
    <span>Manualmente</span> <span>ou</span>
    <form
      hx-post="{{ url_for('sensors_records_views.create_sensors_records_by_csv_file_view') }}"
      hx-target="#sensors-records"
      hx-target-error="#csv-form-error"
      hx-swap="innerHTML"
      data-query-param="hx-post"
      enctype="multipart/form-data"
      class="flex items-center justify-center">
      {{ csv_form.csrf_token }}

      {{
      csv_input(
      url=url_for("sensors_records_views.create_sensors_records_by_csv_file_view"),
      attributes="data-modal-hide=create-sensors-records-modal"
      )
      }}
    </form>
  </div>
  <div class="flex flex-col items-center justify-center">
    <hr class="bg-black w-[75%] h-[0.5px] mt-3">

    <form
      id="create-sensors-records-form"
      hx-post="{{ url_for('sensors_records_views.create_sensors_record_by_form_view') }}"
      hx-target-error="#create-sensors-records-fields"
      hx-target="#sensors-records"
      hx-swap="innerHTML"
      data-query-param="hx-post">
      <div id="create-sensors-records-fields"
        class="flex justify-center items-center flex-col sm:grid sm:grid-cols-3 gap-2 mt-6">
        {% include
        "pages/sensors_records_table/create_sensors_record_form/fields.html" %}
      </div>

      <div class="mt-10 pb-6">
        {{ modal_controls(modal_id="create-sensors-records-modal") }}
      </div>
    </form>
  </div>
</div>
