{% from "components/logo.html" import logo %}
{% from "components/modal.html" import modal_controls %}
{% from "components/csv_input.html" import csv_input %}
{% from "components/toast.html" import toast %}

<div
  id="csv-form-error"
  class="relative w-1/2 mx-auto">
</div>

<div class="mt-4 px-2 h-[520px] rounded-md">
  <div class="flex flex-col rounded-2xl">

    <div
      data-record-form="csv-input"
      class="flex items-center justify-center gap-1">
      <span>Manualmente</span> <span>ou</span>

      <form
        hx-post="{{ url_for('checklist_records_views.create_checklist_records_by_csv_file_view') }}"
        hx-target="#checklist-records"
        hx-target-error="#csv-form-error"
        hx-swap="innerHTML"
        enctype="multipart/form-data"
        data-query-param="hx-post">
        {{ csv_form.csrf_token }}
        {{
        csv_input(
        url_for('checklist_records_views.create_checklist_records_by_csv_file_view'),
        attributes="data-modal-hide=create-checklist-records-modal"
        )
        }}
      </form>
    </div>

    <div class="flex flex-col items-center justify-center">
      <hr class="bg-black w-[75%] h-[0.5px] mt-3">

      <form
        id="create-checklist-records-form"
        hx-post="{{ url_for('checklist_records_views.create_checklist_record_by_form_view') }}"
        hx-target="#checklist-records"
        hx-target-error="#create-checklist-record-form-fields"
        hx-swap="innerHTML"
        data-query-param="hx-post">

        <div
          id="create-checklist-record-form-fields"
          class="flex justify-center items-center flex-col sm:grid sm:grid-cols-3 gap-8 mt-6">
          {% include
          "pages/checklist_records_table/create_checklist_record_form/fields.html"
          %}
        </div>

        <div class="mt-6 pb-6">
          {{ modal_controls(modal_id="create-checklist-records-modal") }}
        </div>
      </form>
    </div>
  </div>
</div>
