{% from "components/plant_select.html" import plant_select %}

<form
  id="active-plant-form"
  hx-put="{{ url_for('plants_views.update_active_plant_view') }}"
  hx-trigger="submit"
  hx-target="#toast-message"
  hx-target-error="#toast-message"
  _="on input from #active-plant-select call htmx.trigger('#active-plant-form', 'submit')"
  class="-translate-y-4 animate-flash">
  {{
  plant_select(
  id="active-plant-select",
  plants=plants,
  label_text="Planta ativa",
  selected_plant_id=active_plant_id
  )
  }}
</form>