{% extends "layouts/dashboard/index.html" %}

{% block dashboard_content %}

{% from "components/modal.html" import modal %}
<div class="px-12 pb-12 mt-6 bg-white rounded-md">
  <div class="flex items-center gap-3 py-6 border-b-2 border-gray-300">
    <h1 class="text-2xl font-bold">Registro do checklist</h1>
  </div>

  <div class="mt-5">
    {% call modal(id="create_checklist_record", title="Adicionar registro") %}
    {% endcall %}
  </div>

  <div class="my-6">
    {% include 'components/search.html' %}
  </div>

  <div class="relative flex h-16 border-2 rounded w-60 bg-slate-100">
    <div class="grid w-20 h-16 m-0 bg-green-500 rounded place-content-center">
      <i class="text-4xl text-white ph ph-plant"></i>
    </div>
    <h2 class="mt-[7%] ml-[20%]">Alface</h2>
  </div>

</div>

{% endblock %}