{% extends "layouts/dashboard/index.html" %}

{% block dashboard_content %}

<button class="p-2 bg-black text-xs text-white border rounded-full mt-7">
    Adicionar Planta
  </button>
  <div>
    <div class="grid grid-cols-3 mt-2 rounded-md shadow-sm">
      <input type="text" name="plant" id="plant" class="block w-30 rounded-md border-0 py-1.5 pl-6 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Nome da Planta">
      <div class="inset-y-0 right-0 ml-50">
        <button class="p-1.5 bg-blue-600 text-sm text-white border rounded-lg">
            Pesquisar
        </button>
      </div>
    </div>
  </div>
<div class="relative h-16 w-60 mt-20 bg-slate-100 shadow shadow-black rounded" style="display: flex;">
    <div class="grid place-content-center h-16 w-20 m-0 bg-green-500 rounded">
        <i class="ph ph-plant text-white text-4xl"></i>
    </div>
    <h2 style="margin-top: 7%; margin-left: 20%;"> Alface </h2>
</div>

{% endblock dashboard_content %}
