{% from "components/modal.html" import modal_controls %}
{% from "components/label.html" import label %}

<form
  id="create-plant-form"
  hx-post="{{ url_for('plants_views.create_plant_view') }}"
  hx-target="#plants-cards"
  hx-target-error
  hx-swap="innerHTML"
  enctype="multipart/form-data"
  data-query-param="hx-post"
  class="grid place-content-center h-50">

  {% include "pages/plants/create_plant_form/fields.html" %}

  <div class="mt-10">
    {{ modal_controls(modal_id="create-plant-modal") }}
  </div>
</form>
