@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.dashboard {
  padding-left: 370px;
  padding-right: 40px;
}

[data-loading-class].loading {
  display: none;
}

@layer components {
  .input-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-400 focus:border-gray-400 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-400 dark:focus:border-gray-400
  }

  .input-container {
    @apply pt-3 pb-6 bg-white mt-3 w-52 rounded-lg
  }
}