<div
    class="w-full h-full p-4 bg-white rounded-lg shadow-md dark:bg-gray-800 md:p-6">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-center gap-1">
            <i class="text-2xl text-blue-500 ph-bold ph-drop"></i>
            <h5
                class="pb-2 text-2xl font-bold leading-none text-gray-900 dark:text-white">
                Umidade do ar
            </h5>
        </div>
        <div
            class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">
            12%
            <svg
                class="w-3 h-3 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 14">
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13V1m0 0L1 5m4-4 4 4" />
            </svg>
        </div>
    </div>
    <div data-ambient-humidity-chart="container" class></div>
    <div
        class="grid items-center justify-between grid-cols-1 border-t border-gray-200 dark:border-gray-700">
        <div class="flex items-center justify-between pt-5">
            <form class>
                <label
                    for="days"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Período</label>
                <select
                    id="days"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Escolha um período</option>
                    <option value>7 dias</option>
                    <option value>30 dias</option>
                    <option value>90 dias</option>
                </select>
            </form>
        </div>
    </div>
</div>