{% extends "layouts/dashboard/index.html" %}
{% from "components/title.html" import title%}
{% from "components/see_registers_button.html" import see_registers_button%}

{% block dashboard_content %}

{{ title("Registro dos Sensores") }}

{{
see_registers_button(
"Visualizar registros",
url_for('sensors_records_views.sensors_records_table_page_view')
)
}}

<div
  class="flex flex-wrap justify-center items-center md:grid grid-cols-2 pt-5 pb-5 gap-9">
  {% include "/pages/sensors_records_dashboard/ambient_humidity_chart.html" %}
  {% include "/pages/sensors_records_dashboard/soil_humidity_chart.html" %}
  {% include "/pages/sensors_records_dashboard/temperature_chart.html" %}
  {% include "/pages/sensors_records_dashboard/water_volume_chart.html" %}
</div>

<script
  src="{{url_for('static', filename='scripts/ambient_humidity_chart.js')}}"></script>
<script
  src="{{url_for('static', filename='scripts/temperature_chart.js')}}"></script>
<script
  src="{{url_for('static', filename='scripts/water_volume_chart.js')}}"></script>
<script
  src="{{url_for('static', filename='scripts/soil_humidity_chart.js')}}"></script>

{% endblock dashboard_content %}
