<div
    class="w-full h-full p-4 bg-white rounded-lg shadow-md dark:bg-gray-800 md:p-6 animate-fade-up animate-delay-100">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-center gap-1">
            <i class="text-2xl text-red-500 ph-bold ph-thermometer"></i>
            <h2
                class="text-2xl font-bold leading-none text-gray-900 dark:text-white">
                Temperatura
            </h2>
        </div>
        <p>
            Média:
            <span
                data-temperature-chart="average"
                class="font-bold">
                0%
            </span>
        </p>
    </div>
    <div data-temperature-chart="container"></div>
    <div
        class="grid items-center justify-between grid-cols-1 border-t border-gray-200 dark:border-gray-700">
        <div class="flex items-center justify-between pt-5">
            <form class>
                <label
                    for="days"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Período</label>
                <select
                    data-temperature-chart="select"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="7 days">7 dias</option>
                    <option value="30 days">30 dias</option>
                    <option value="90 days">90 dias</option>
                </select>
            </form>
        </div>
    </div>
</div>