{% from "components/days_range_select.html" import days_range_select %}
{% from "components/plant_select.html" import plant_select %}

<input
  data-water-volume-chart="data"
  type="text"
  value="{{ water_volume_chart_data }}"
  hidden />

<div
  class="w-full h-full p-4 bg-white rounded-lg shadow-md dark:bg-gray-800 md:p-6 animate-fade-up animate-delay-100">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-center gap-1">
      <i class="text-2xl text-purple-500 ph-bold ph-waves"></i>
      <h2
        class="text-xl font-bold leading-none text-gray-900 dark:text-white">
        Volume de água (mL)
      </h2>
    </div>
    <p>
      Média:
      <span
        data-water-volume-chart="average"
        class="font-bold">
        0mL
      </span>
    </p>

  </div>

  <div data-water-volume-chart="container"></div>

  <div
    class="flex items-center gap-8 pt-6 border-t border-gray-200 dark:border-gray-700">
    {{
    days_range_select(
    id="water-volume-chart-days-range-select",
    days_ranges=days_ranges,
    attributes="data-water-volume-chart=days-range-select",
    )
    }}

    {{
    plant_select(
    id="water-volume-chart-plant-select",
    plants=plants,
    attributes="data-water-volume-chart=plant-select",
    selected_plant_id=active_plant_id
    )
    }}
  </div>
</div>
