{% from "components/logo.html" import logo %}
{% from "components/csv_input.html" import csv_input %}
{% from "components/label.html" import label %}

{% set input_class =
"p-4 bg-white mt-3 w-52 rounded-lg"%}

<div class="flex flex-col h-auto rounded-2xl">
  <div class="flex items-center justify-center gap-1 mt-6">
    <span>Manualmente</span> <span>ou</span>
    <form
      hx-post="{{ url_for('sensors_records_views.create_sensors_records_by_csv_file_view') }}"
      hx-target="#sensors_records"
      hx-target-error="#form_fields"
      hx-swap="innerHTML"
      data-query-param="hx-post"
      enctype="multipart/form-data"
      class="flex items-center justify-center">
      {{ csv_form.csrf_token }}

      {{
      csv_input(
      url=url_for("sensors_records_views.create_sensors_records_by_csv_file_view"),
      attributes="data-modal-hide=create-sensors-records-modal"
      )
      }}
    </form>
  </div>
  <div class="flex flex-col items-center justify-center">
    <hr class="bg-black w-[75%] h-[0.5px] mt-6">
    <form
      hx-post="{{ url_for('sensors_records_views.create_sensors_record_by_form_view') }}"
      hx-target="#sensors_records"
      hx-target-error="#form_fields"
      hx-swap="innerHTML"
      data-query-param="hx-post">
      {{ create_sensors_records_form.csrf_token }}

      <div id="form_fields" class="grid grid-cols-3 mt-6 gap-x-2 gap-y-1">
        {% include 'pages/sensors_records_table/form/fields.html' %}
      </div>

      <div class="flex justify-center gap-3 mt-6">
        <button data-modal-hide="create-sensors-records-modal" type="submit"
          class="w-28 focus:outline-none text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-600 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-gray-950">
          Enviar
        </button>
        <button
          data-modal-hide="create-sensors-records-modal"
          type="button"
          class="w-24 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-600 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-red-950">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
