{% extends "/pages/login/index.html" %} {% block content %}

<div
  class="max-w-sm p-10 m-5 bg-white rounded-lg shadow-lg sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl"
>
  <div class="flex justify-center mb-6">{{ logo() }}</div>
  <h2 class="mb-4 text-2xl font-semibold text-center text-gray-700">
    Redefinindo sua senha
  </h2>
  <p class="mb-6 text-center text-gray-600">
    Digite sua nova senha e confirme ela.
  </p>
  <form>
    <div class="mb-6">
      <label for="password" class="block text-gray-700">Senha</label>
      <div
        class="flex items-center justify-center w-full gap-1 p-3 mt-1 border rounded-lg focus-within:ring-2 focus-within:ring-green-500"
      >
        <i class="ph-bold ph-lock"></i>
        <input
          type="password"
          id="password"
          name="password"
          class="w-full p-0 m-0 border-none outline-none focus:border-none focus:outline-none focus:ring-0"
          placeholder="****"
        />
      </div>
    </div>
    <div class="mb-6">
      <label for="password" class="block text-gray-700">Confirmar senha</label>
      <div
        class="flex items-center justify-center w-full gap-1 p-3 mt-1 border rounded-lg focus-within:ring-2 focus-within:ring-green-500"
      >
        <i class="ph-bold ph-lock"></i>
        <input
          type="password"
          id="password"
          name="password"
          class="w-full p-0 m-0 border-none outline-none focus:border-none focus:outline-none focus:ring-0"
          placeholder="****"
        />
      </div>
    </div>
    <button
      type="submit"
      class="w-full p-3 text-white bg-green-500 rounded-lg hover:bg-green-600"
    >
      Redefinir senha
    </button>
  </form>
</div>

<div
  class="max-w-sm p-10 m-5 text-center bg-white rounded-lg shadow-lg sm:max-w-md"
>
  <div class="flex justify-center mb-6">{{ logo() }}</div>
  <h2 class="mb-4 text-2xl font-semibold text-gray-700">
    Sua senha foi redefinida com sucesso!
  </h2>
  <a href="{{url_for('auth_views.login_page_view')}}" class="text-green-500 hover:underline"
    >Voltar para fazer login.</a
  >
</div>

{% endblock %}
