{% extends "/pages/login/index.html" %}

{% from "components/loading.html" import loading %}

{% block content %}

<div
  class="max-w-sm p-10 m-5 bg-white rounded-lg shadow-lg sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
  <div class="flex justify-center mb-6">{{ logo() }}</div>

  <form
    hx-post="{{ url_for('authentication_views.reset_password_view')}}"
    hx-trigger="submit"
    hx-target-error="#fields"
    hx-swap="innerHTML">

    <h2 class="mb-4 text-2xl font-semibold text-center text-gray-700">
      Redefinindo sua senha
    </h2>

    <p class="mb-6 text-center text-gray-600">
      Digite sua nova senha e confirme ela.
    </p>

    <div id="fields">
      {% include "pages/reset_password/fields.html" %}
    </div>

    <button
      data-loading-disable
      type="submit"
      class="grid place-content-center w-full p-3 text-white bg-green-500 rounded-lg hover:bg-green-600">
      <span data-loading-class="hidden">
        Redefinir senha
      </span>
      <div data-loading-class-remove="hidden">
        {{ loading("size-6 fill-green-600") }}
      </div>
    </button>
  </form>

</div>

{% endblock %}
