{% extends "layouts/root.html" %}

{% from "components/logo.html" import logo %}

{% block body %}
<body
  class="flex items-center justify-center min-h-screen"
  style="background-image: url('https://c0.wallpaperflare.com/preview/652/943/804/close-up-fresh-freshness-garden.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; backdrop-filter: blur(10px);">

  {% block content %}

  <div
    class="max-w-sm p-5 m-5 bg-white rounded-lg shadow-lg sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl sm:p-10 md:m-10">
    <div class="flex justify-center mb-6">
      {{ logo() }}
    </div>

    <form
      hx-post="{{ url_for('authentication_views.login_user_view') ~ '?next=' ~ next_page_param }}"
      hx-trigger="submit"
      hx-target-error="#login-form-fields"
      hx-swap="innerHTML">
      <div id="login-form-fields">
        {% include "pages/login/login_form.html" %}
      </div>
    </form>

  </div>

  {% endblock %}

</body>

{% endblock body %}
