{% extends "layouts/root.html" %}
{% from "components/logo.html" import logo %}

{% block body %}
<body
  class="flex items-center justify-center min-h-screen"
  style="background-image: url('https://c0.wallpaperflare.com/preview/652/943/804/close-up-fresh-freshness-garden.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; backdrop-filter: blur(10px);">

  {% block content %}

  <div
    class="max-w-sm p-5 m-5 bg-white rounded-lg shadow-lg sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl sm:p-10 md:m-10">
    <div class="flex justify-center mb-6">
      {{ logo() }}
    </div>
    <form>
      <div class="mb-6">
        <label for="email" class="block text-gray-700">E-mail</label>
        <div
          class="flex items-center justify-center w-full gap-1 p-3 mt-1 border rounded-lg focus-within:ring-2 focus-within:ring-green-500">
          <i class="ph-bold ph-user"></i>
          <input
            type="email"
            id="email"
            name="email"
            class="w-full p-0 m-0 border-none outline-none focus:border-none focus:outline-none focus:ring-0"
            placeholder="admin@smart-farming.com">
        </div>
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-700">Senha</label>
        <div
          class="flex items-center justify-center w-full gap-1 p-3 mt-1 border rounded-lg focus-within:ring-2 focus-within:ring-green-500">
          <i class="ph-bold ph-lock"></i>
          <input
            type="password"
            id="password"
            name="password"
            class="w-full p-0 m-0 border-none outline-none focus:border-none focus:outline-none focus:ring-0"
            placeholder="****">
        </div>
      </div>
      <div class="flex items-center mb-6">
        <input type="checkbox" id="remember" name="remember"
          class="mr-2">
        <label for="remember" class="text-gray-700">Lembre-se de
          mim</label>
      </div>
      <div class="flex justify-between mb-6">
        <a href="{{url_for('auth_views.reset_password_view')}}"
          class="text-sm text-green-500 hover:underline">Esqueceu a
          senha?</a>
      </div>
      <button type="submit"
        class="w-full p-3 text-white bg-green-500 rounded-lg hover:bg-green-600">Login</button>
    </form>
  </div>

  {% endblock %}

</body>

{% endblock body %}
