{% macro csv_output(href, filename) %}

<a href="{{ href }}" data-csv-output="output" download="{{ filename }}"
  class="text-white flex bg-gray-700 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#00FF04" viewBox="0 0 256 256" class="pl-0 mr-2"><path d="M224,144v64a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V144a8,8,0,0,1,16,0v56H208V144a8,8,0,0,1,16,0Zm-101.66,5.66a8,8,0,0,0,11.32,0l40-40a8,8,0,0,0-11.32-11.32L136,124.69V32a8,8,0,0,0-16,0v92.69L93.66,98.34a8,8,0,0,0-11.32,11.32Z"></path></svg> 
  Exportar CSV
</a>

{% endmacro%}