{% from "components/logo.html" import logo %}

{% macro modal(id) %}

<button
  id="{{ id }}-trigger"
  data-modal-target="{{ id }}"
  data-modal-toggle="{{ id }}"></button>

<div
  id="{{ id }}"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full bg-black/70">
  <div class="relative w-full max-w-4xl ">
    <!-- Modal content -->
    <div
      class="relative p-6 bg-white overflow-y-auto rounded-lg shadow dark:bg-gray-700 animate-fade-up animate-delay-100">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between pb-3 border-b rounded-t dark:border-gray-600">
        <div class="w-56">
          {{ logo() }}
        </div>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="{{ id }}">
          <svg class="w-3 h-3" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Fechar modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="grid place-content-center">
        {{ caller() }}
      </div>
    </div>
  </div>
</div>

{% endmacro %}

{% macro modal_controls(modal_id) %}

<div class="flex items-center justify-center w-full gap-4">
  <button
    _="on click trigger click on #{{ modal_id }}"
    type="button"
    class="w-28 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-600 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-red-950">
    Cancelar
  </button>
  <button
    _="on click trigger click on #{{ modal_id }}"
    data-loading-disable
    data-hyperscript="process"
    type="submit"
    class="w-28 focus:outline-none text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-600 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-gray-950">
    Enviar
  </button>
</div>

{% endmacro %}
