{% macro card(title, value, variation, class) %}

<div
  class="p-6 grid place-content-center gap-2 h-60 rounded-md shadow-md animate-fade-up animate-delay-100 {{ class }}">
  <div class="grid place-content-center space-y-2">
    <div class="grid w-full text-3xl place-content-center">
      {{ caller() }}
    </div>
    <h2 class="font-medium text-center">{{ title }}</h2>
    <strong
      class="text-3xl text-center
      ">
      {{ value }}
    </strong>
  </div>

  {% if variation != 0 %}
  <strong class="text-sm text-gray-950 font-bold text-center">
    {{ variation }}% de variação desde o último registro.
  </strong>
  {% else %}
  <p class="text-sm text-gray-950 font-bold text-center">
    Sem variação desde o último registro.
  </p>
  {% endif %}
</div>

{% endmacro %}
