{% extends "layouts/dashboard/index.html" %}

{% from "pages/last_sensors_record/card.html" import card %}

{% set icon_class = "grid place-content-center rounded-md w-16 h-16"
%}

{% block dashboard_content %}

{%if datetime is not none%}
<div class="flex items-center gap-3 pb-6 mt-10 border-b-2 border-gray-300">
  <h1 class="text-2xl font-bold">Último Registro -</h1>
  {% include "pages/last_sensors_record/datetime.html" %}
</div>
{% else %}
<div class="flex items-center gap-3 pb-6 mt-10 border-b-2 border-gray-300">
  <h1 class="text-2xl font-bold">Nenhum registro encontrado</h1>
</div>
{%endif%}

<div class="grid grid-cols-2 mt-12 gap-x-10 gap-y-8">
  {% call card(
  title="temperatura",
  value="{:.1f}ºC".format(last_sensors_records.temperature),
  class="bg-red-50 animate-delay-100")
  %}
  <div class="{{ icon_class }} bg-red-100">
    <i class="text-red-600 ph-bold ph-thermometer"></i>
  </div>
  {% endcall %}

  {% call card(
  title="Umidade do ambiente",
  value="{:.1f}%".format(last_sensors_records.ambient_humidity),
  class="bg-blue-50 animate-delay-200"
  )
  %}
  <div class="{{ icon_class }} bg-blue-100">
    <i class="text-blue-600 ph-bold ph-drop"></i>
  </div>
  {% endcall %}

  {% call card(
  title="Umidade do solo",
  value="{:.1f}%".format(last_sensors_records.soil_humidity),
  class="bg-green-50 animate-delay-300")
  %}
  <div class="{{ icon_class }} bg-green-100">
    <i class="text-green-600 ph-bold ph-drop-half-bottom"></i>
  </div>
  {% endcall %}

  {% call card(
  title="Vazão",
  value="{:.1f}mL".format(last_sensors_records.water_volume),
  class="bg-purple-50 animate-delay-300")
  %}
  <div class="{{ icon_class }} bg-purple-100">
    <i class="text-purple-600 ph-bold ph-waves"></i>
  </div>
  {% endcall %}

</div>

{% endblock dashboard_content %}
