{% macro checklist_item(date, hour, plantation_type, soil_humidity, soil_ph, fertilizer_expiration_date, water_consumption, ambient_humidity, temperature, illuminance, leaf_area_index, leaf_appearence, leaf_color, report, plant_name, plant_tag_color)%}
<!-- 15 props -->


<tr
    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    <td class="w-4 p-4">
        <div class="flex items-center">
            <input id="checkbox-table-1" type="checkbox"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-table-1" class="sr-only">checkbox</label>
        </div>
    </td>
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <b>{{date}} {{hour}}</b>
    </th>
    <td class="px-6 py-4">
        {{plantation_type}}
    </td>
    <td class="px-6 py-4">
        {{soil_humidity}}
    </td>
    <td class="px-6 py-4">
        {{soil_ph}}
    </td>
    <td class="px-6 py-4">
        {{fertilizer_expiration_date}}
    </td>
    <td class="px-6 py-4">
        {{water_consumption}}
    </td>
    <td class="px-6 py-4">
        {{ambient_humidity}}
    </td>
    <td class="px-6 py-4">
        {{temperature}}
    </td>
    <td class="px-6 py-4">
        {{illuminance}}
    </td>
    <td class="px-6 py-4">
        {{leaf_area_index}}
    </td>
    <td class="px-6 py-4">
        {{leaf_appearence}}
    </td>
    <td class="px-6 py-4">
        {{leaf_color}}
    </td>
    <td class="px-6 py-4">
        {{report}}
    </td>
    <td class="px-6 py-4">
        <p class="rounded-md w-max {{plant_tag_color}} text-black font-semibold py-1 px-2">{{plant_name}}</p>
    </td>
</tr>

<script>
    
</script>

{% endmacro %}