<thead
  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th scope="col" class="p-4">
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">DATA E HORA DE COLETA</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">PLANTA</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">LOCAL DE PLANTIO </p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-96">COLORAÇÃO DAS FOLHAS</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">UMIDADE DO SOLO </p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">PH DO SOLO </p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">VALIDAÇÃO DE ADUBAÇÃO</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">CONSUMO DE ÁGUA (mL)</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">TEMPERATURA AMBIENTE</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">UMIDADE AMBIENTE </p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">LUMINOSIDADE</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">ÍNDICE DE ÁREA FOLIAR</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48">ASPECTO DAS FOLHAS</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-96">DESVIO DURANTE O PROCESSO</´p>
      </th>
    </tr>
  </thead>