<thead
  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th scope="col" class="p-4">
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">DATA E HORA DE COLETA</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">PLANTA</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">LOCAL DE PLANTIO </p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-96">COLORAÇÃO DAS FOLHAS</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">UMIDADE DO SOLO </p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">PH DO SOLO </p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">VALIDAÇÃO DE ADUBAÇÃO</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">CONSUMO DE ÁGUA (mL)</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">TEMPERATURA AMBIENTE</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">UMIDADE AMBIENTE </p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">LUMINOSIDADE</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">ÍNDICE DE ÁREA FOLIAR</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-48 uppercase">ASPECTO DAS FOLHAS</p>
    </th>
    <th scope="col" class="px-6 py-3">
      <p class="w-96">DESVIO DURANTE O PROCESSO</p>
      </th>
    </tr>
  </thead>