{% extends "layouts/dashboard/index.html" %}

{% from "components/modal.html" import modal %}
{% from "components/button.html" import button %}
{% from "components/plant_select.html" import plant_select %}
{% from "components/loading.html" import loading %}
{% from "components/title.html" import title%}



{% block dashboard_content %}
{{title("Registro da Checklist")}}
    
 

  <div class="flex items-center justify-between mt-6">
  
    <a
      href="{{ url_for('checklist_records_views.checklist_records_dashboard_page_view') }}"
      class="border-2 rounded-md p-2 border-gray-800 w-max px-2 flex items-center gap-1">
      Todos os Gráficos
      <i class="ph ph-arrow-right"></i>

    </a>  

    {% include 'components/datepicker.html' %}

    {% call modal(id="create-checklist-records-modal") %}

    {% include
    "pages/checklist_records_table/create_checklist_record_form/index.html"
    %}

    {% endcall %}

    {{ button(
    title="Adicionar registro",
    attributes="data-modal-target=create-checklist-records-modal data-modal-toggle=create-checklist-records-modal")
    }}

  </div>

  {% call modal(id="update-checklist-record-modal") %}

  <div id="update-checklist-record-form" class="flex w-full">
    <div class="grid place-content-center w-full h-[32rem]">
      {{ loading("w-24 h-24") }}
    </div>
  </div>

  {% endcall %}

  <div class="relative shadow-md pb-6 sm:rounded-lg">
    <div class="flex items-end gap-3 p-6">
      <form
        hx-get="{{ url_for('checklist_records_views.filter_checklist_records_view') }}"
        hx-trigger="submit"
        hx-target="#checklist-records" hx-swap="innerHTML"
        data-pagination="form"
        data-query-param="hx-get"
        id="filter-checklist-records-form">
        {{
        plant_select(
        id="plant-select",
        plants=plants,
        )
        }}

        <input data-pagination="input" type="text" hidden>
      </form>

      {{
      button(
      type="submit",
      title="Deletar registro(s)",
      attributes="id=delete-checklist-record-button data-table=delete-button form=delete-checklist-records-form",
      class="bg-red-700 animate-pulse hidden",
      )
      }}
    </div>

    <form
      id="delete-checklist-records-form"
      hx-delete="{{ url_for('checklist_records_views.delete_checklist_records_view') }}"
      hx-target="#checklist-records"
      hx-trigger="submit"
      hx-swap="innerHTML"
      data-query-param="hx-delete">
      <div
        id="checklist-records"
        data-table="container"
        data-pagination="container"
        class="flex flex-col justify-between h-[28rem]">
        {% include "pages/checklist_records_table/records.html" %}
      </div>
    </form>

  </div>

</div>

<script
  src="{{ url_for('static', filename='scripts/query_param.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/table.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/pagination.js') }}"></script>

{% endblock dashboard_content %}