{% extends "layouts/dashboard/index.html" %}

{% block dashboard_content %}

<h1>Registros dos Sensores</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="p-5">
    <select name
      class="flex items-center justify-center w-40 text-center border border-gray-200 rounded-lg border-1"
      id>
      <option value="plantas" default>
        <p>Plantas</p>
      </option>
      <option data-content="<i class='ph-bold ph-plant'></i>"></option>
    </select>
  </div>
  <form
    action="{{ url_for('checklist_records_views.create_checklist_record_by_form_view') }}"
    method="post">
    {{ checklist_record_form.csrf_token }}

    {{ checklist_record_form.lai }}
    {{ checklist_record_form.date }}
    {{ checklist_record_form.fertilizer_expiration_date }}
    {{ checklist_record_form.illuminance }}
    {{ checklist_record_form.hour }}
    {{ checklist_record_form.plantation_type }}
    {{ checklist_record_form.leaf_apperance }}
    {{ checklist_record_form.leaf_color }}
    {{ checklist_record_form.air_humidity }}
    {{ checklist_record_form.created_at }}
    {{ checklist_record_form.report }}
    {{ checklist_record_form.soil_humidity }}
    {{ checklist_record_form.soil_ph }}
    {{ checklist_record_form.water_consumption }}
    {{ checklist_record_form.temperature }}
    {{ checklist_record_form.plant_id }}
    {{ checklist_record_form.submit_button }}
  </form>
</div>

{% endblock dashboard_content %}
