{% extends "layouts/dashboard/index.html" %}

{% from "components/modal.html" import modal %}

{% block dashboard_content %}

<div class="mt-6 px-12 pb-12 bg-white rounded-md shadow-md">
  <div
    class="flex items-center gap-3 py-6 border-b-2 border-gray-300">
    <h1 class="text-2xl font-bold">Registro do checklist</h1>
  </div>

  <div class="flex items-center justify-between mt-6">

    {% include 'components/datepicker.html' %}

    {% call modal(id="create_checklist_record", title="Adicionar registro") %}

    {% include "pages/checklist_records_table/form/index.html" %}

    {% endcall %}

  </div>

  <div class="relative overflow-x-auto mt-6 shadow-md sm:rounded-lg">
    <div class="p-6">
      <label for="plant">Planta: </label>
      <select
        id="plant"
        name="plant"
        class="flex items-center justify-center w-40 text-center border border-gray-200 rounded-lg border-1 mt-2">
        {% for plant in plants %}
        <option value="{{ plant.id }}">
          {{ plant.name }}
        </option>
        {% endfor %}
      </select>
    </div>

    <div id="checklist_records">
      {% include "pages/checklist_records_table/records.html" %}
    </div>
  </div>
</div>

<script
  src="{{ url_for('static', filename='scripts/query_param.js') }}"></script>

{% endblock dashboard_content %}
