{% if checklist_records | length > 0 %}

<div class="overflow-x-auto">
  <table
    class="text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
    {% include "pages/checklist_records_table/head.html"%}
    {% include "pages/checklist_records_table/body.html"%}
  </table>

  <input
    data-pagination="total-count"
    type="hidden"
    value="{{ total_count }}">

  {% else %}

  <p class="p-6 text-lg font-bold text-center">
    Nenhum registro encontrado 😢.
  </p>

  {% endif %}
</div>

{% include "components/pagination.html" %}
