{% macro row(checklist_record) %}

<tr data-loading="hidden"
  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <td class="w-4 p-4">
    <div class="flex items-center">
      <input id="checkbox-table-1" type="checkbox"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checkbox-table-1" class="sr-only">checkbox</label>
    </div>
  </td>

  <th scope="row"
    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <time>
      {{ checklist_record.created_at.format_value().get_value() }}
    </time>
  </th>

  <td class="px-6 py-4">
    <span style="background-color: {{ checklist_record.plant.hex_color }}"
      class="rounded-md w-max text-black font-semibold py-1 px-2">
      {{ checklist_record.plant.name }}
    </span>
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.plantation_type }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.leaf_color }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.soil_humidity }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.soil_ph }}
  </td>

  <td class="px-6 py-4">
    {{
    checklist_record.fertilizer_expiration_date.format_value().get_value()
    }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.water_consumption }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.temperature }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.air_humidity }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.illuminance }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.lai }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.leaf_appearance }}
  </td>

  <td class="px-6 py-4">
    {{ checklist_record.report[:100] }}
  </td>

</tr>

{% endmacro %}