<thead
  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
<tr>
  <th scope="col" class="p-4">
  </th>
  <th scope="col" class="px-6 py-3">
    <p class="w-44 uppercase">DATA</p>
  </th>
  <th scope="col" class="py-3">
    <p class="w-24 uppercase">PLANTA</p>
  </th>
  <th scope="col" class="py-3">
    <p class="w-44 uppercase">UMIDADE DO SOLO (%)</p>
  </th>
  <th scope="col" class="py-3">
    <p class="w-44 uppercase">UMIDADE DO AMBIENTE (%)</p>
  </th>
  <th scope="col" class="py-3">
    <p class="w-44 uppercase">TEMPERATURA (ºC)</p>
  </th>
  <th scope="col" class="py-3">
    <p class="w-44 uppercase">VOLUME DE ÁGUA (ML)</p>
  </th>
  </th>
</tr>
</thead>

