<thead
  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
<tr>
  <th scope="col" class="p-4">
  </th>
  <th scope="col" class="px-6 py-3">
    <p class="w-48 uppercase">DATA</p>
  </th>
  <th scope="col" class="px-6 py-3">
    <p class="w-48 uppercase">PLANTA</p>
  </th>
  <th scope="col" class="px-6 py-3">
    <p class="w-48 uppercase">UMIDADE DO SOLO</p>
  </th>
  <th scope="col" class="px-6 py-3">
    <p class="w-48 uppercase">UMIDADE DO AMBIENTE</p>
  </th>
  <th scope="col" class="px-6 py-3">
    <p class="w-48 uppercase">TEMPERATURA</p>
  </th>
  <th scope="col" class="px-6 py-3">
    <p class="w-48 uppercase">VOLUME DE ÁGUA (ML)</p>
  </th>
  </th>
</tr>
</thead>

