{% extends "layouts/dashboard/index.html" %}

{% from "components/modal.html" import modal %}
{% from "components/alert.html" import alert %}
{% from "components/button.html" import button %}
{% from "components/plant_select.html" import plant_select %}
{% from "components/loading.html" import loading %}
{% from 'components/title.html' import title %}
{% from 'components/datepicker.html' import datepicker %}
{% from 'components/see_charts_button.html' import see_charts_button %}
{% from 'components/csv_output.html' import csv_output %}

{% block dashboard_content %}

{{ title("Registro dos sensores") }}

<div
  class="flex items-center justify-center sm:justify-between flex-col sm:flex-row gap-4 mt-6 max-[340px]:grid max-[340px]:grid-cols-2 max-[340px]:grid-rows-2">

      {{ see_charts_button("Visualizar gráficos",
      url_for('sensors_records_views.sensors_records_dashboard_page_view')) }}
    
      {{
      datepicker(
      attributes="data-filters=filter",
      selected_start_date=selected_start_date,
      selected_end_date=selected_end_date,
      form_id="filter-sensors-records-form",
      )
      }}
    
      {{
      button(
      type="button",
      title="Adicionar registro",
      attributes="data-modal-target=create-sensors-records-modal data-modal-toggle=create-sensors-records-modal")
      }}

  {% call modal(id="create-sensors-records-modal") %}

  {% include
  "pages/sensors_records_table/create_sensors_record_form/index.html"
  %}

  {% endcall %}

</div>
<div class="relative pb-6 shadow-md sm:rounded-lg">

  {% call modal(id="update-sensors-record-modal") %}

  <div id="update-sensors-record-form" class="flex w-full">
    <div class="grid place-content-center w-full h-[32rem]">
      {{ loading("w-24 h-24") }}
    </div>
  </div>

  {% endcall %}

  <div class="relative sm:rounded-lg">
    <div class="flex flex-col sm:flex-row sm:items-end gap-3 p-6">
      <form
        id="filter-sensors-records-form"
        hx-get="{{ url_for('sensors_records_views.filter_sensors_records_view') }}"
        hx-target="#sensors-records"
        hx-swap="innerHTML"
        hx-include="#start-date,#end-date"
        hx-trigger="submit, change from:#plant-select"
        data-pagination="form"
        data-query-param="hx-get"
        id="filter-sensors-records-form">


        {{
        plant_select(
        id="plant-select",
        plants=plants,
        can_include_all=True,
        attributes="data-filters=filter",
        selected_plant_id=selected_plant_id
        )
        }}
        <input
          data-pagination="input"
          value="{{ current_page_number }}"
          type="text"
          hidden>
      </form>

      {{
      alert(
      id="delete-sensors-record",
      description="Tem certeza que deseja excluir esse(s) registro(s)?",
      on_confirm="trigger submit on #delete-sensors-records-form"
      )
      }}

      <div class="flex flex-col sm:flex-row gap-3">
        {{
        button(
        type="button",
        title="Deletar registro(s)",
        attributes="
        id=delete-sensors-record-button
        data-table=delete-button",
        on_click="trigger click on #alert-modal-delete-sensors-record-trigger",
        class="hidden bg-red-700 animate-pulse animate-duration-1000",
        )
        }}
  
        {{
        button(
        type="button",
        title="Remover todos os filtros",
        attributes="data-filters=remove-all-button",
        class="hidden bg-gray-800",
        )
        }}
      </div>

      <div class="ml-auto">
        {{
        csv_output(url_for("sensors_records_views.sensors_records_csv_file_view"))
        }}
      </div>
  

    </div>

    <form
      id="delete-sensors-records-form"
      hx-delete="{{ url_for('sensors_records_views.delete_sensors_records_view') }}"
      hx-target="#sensors-records"
      hx-trigger="submit"
      hx-swap="innerHTML"
      data-query-param="hx-delete">
      <div
        data-table="container"
        data-pagination="container"
        id="sensors-records"
        class="flex flex-col justify-between h-[28rem]">
        {% include "pages/sensors_records_table/records.html" %}
      </div>
    </form>

  </div>
</div>

<script
  src="{{ url_for('static', filename='scripts/query_param.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/table.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/pagination.js') }}"></script>

<script
  src="{{ url_for('static', filename='scripts/filters.js') }}"></script>

{% endblock dashboard_content %}
