{% from "components/loading.html" import loading %}

{% if sensors_records | length > 0 %}

<div class="overflow-x-auto">
  <table
    class="text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
    {% include "pages/sensors_records_table/head.html"%}
    {% include "pages/sensors_records_table/body.html"%}
  </table>

  {% else %}

  <div
    _="on load add .hidden to #delete-sensors-record-button"
    data-hyperscript="process"
    class="sr-only">
  </div>

  <div
    data-loading-class-remove="absolute"
    class="absolute grid place-content-center w-full h-full">
    {{ loading("w-24 h-24") }}
  </div>

  <p data-loading-class="hidden" class="p-6 text-lg font-bold text-center">
    Nenhum registro encontrado 😢.
  </p>

  {% endif %}
</div>

{% include "components/pagination.html" %}
