{% macro row(sensors_record) %}

{% set plant_style =
"style=background-color:{};".format(checklist_record.plant.hex_color)
%}

<tr
  data-loading-class="hidden"
  class="group bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <td class="w-4 p-4">
    <div class="flex items-center">
      <input
        type="checkbox"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checkbox-table-1" class="sr-only">checkbox</label>
    </div>
  </td>
  <td
    scope="row"
    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <time>
      {{ sensors_record.created_at.format_value().get_value() }}
    </time>
  </td>
  <td class="px-6 py-4">
    <span
      class="px-2 py-1 font-semibold text-black rounded-md w-max"
      {{ plant_style }}>
      {{ sensors_record.plant.name }}
    </span>
  </td>
  <td class="px-6 py-4">
    {{ sensors_record.soil_humidity }}
  </td>
  <td class="px-6 py-4">
    {{ sensors_record.ambient_humidity }}
  </td>
  <td class="px-6 py-4">
    {{ sensors_record.temperature }}
  </td>
  <td class="px-6 py-4">
    {{ sensors_record.water_volume }}
  </td>
</tr>

{% endmacro %}