{% from "components/toast.html" import toast %}

{% if plants | length > 0 %}

{% if action %}

{% if action == "create" %}

{% set message = "Planta criada com sucesso" %}
{% set on_load = "trigger click on #create-plant-modal-trigger then " %}

{% elif action == "delete" %}

{% set message = "Planta deletada com sucesso" %}
{% set on_load = "" %}

{% endif %}

{{
toast(
id="plants_cards_toast",
message=message,
on_load=on_load ~ "
remove <p.form-error />
then call
#create-plant-form.reset()
then put 'Nome da planta' into #plant-name-preview
then call htmx.trigger('#active-plant', 'submit')",
category="success",
)
}}

{% endif %}

<div
  _="on load remove <p.form-error /> then call #create-plant-form.reset()"></div>

<div
  class="grid grid-cols-1 gap-3 lg:grid-cols-2 lg:gap-8 xl:grid-cols-4 xl:gap-3 w-full">
  {% for plant in plants %}
  {% include "pages/plants/plants_cards/card.html" %}
  {% endfor %}
</div>

{% else %}

<span _="on load wait 1s set #active-plant.innerHTML to ''"></span>

<p class="text-center text-xl tracking-wide text-gray-900 font-semibold">
  Nenhuma planta encontrada 😢.
</p>

{% endif %}